
@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="container">
    <h2 class="col s4 white-text">Projects</h2>
</div>
<div class="container">
    <div class="row">
        <div class="card col s12 m6 l3">
            <div class="card-image blue-grey darken-1">
                <div class="container">
                    <span class="new badge purple lighten-2" data-badge-caption="Side Project"></span>
                    <span class="new badge green" data-badge-caption="Complete"></span>
                    <img class="responsive-img" src="https://www.brighttalk.com/bundles/brighttalkportal/images/BrightTALK-logo.svg?v=052c2adf76a90d4d1843fdb32e04d1d3af8f6714">
                </div>
                <div class="card-content">
                    <p class="flow-text white-text">
                        Bright Talk Video Downloader
                    </p>
                </div>
                <div class="card-action">
                    <p><a href="#">Github</a></p>
                </div>
            </div>
        </div>

        <div class="card col s12 m6 l3">
            <div class="card-image blue-grey darken-1">
                <div class="container">
                    <span class="new badge blue" data-badge-caption="For Work"></span>
                    <span class="new badge light-green" data-badge-caption="In Progress"></span>
                    <img class="responsive-img" src="https://www.brighttalk.com/bundles/brighttalkportal/images/BrightTALK-logo.svg?v=052c2adf76a90d4d1843fdb32e04d1d3af8f6714">
                </div>
                <div class="card-content">
                    <p class="flow-text white-text">
                        Bright Talk Video Downloader
                    </p>
                </div>
                <div class="card-action">
                    <p><a href="#">Details</a></p>
                </div>
            </div>
        </div>
        <div class="card col s12 m6 l3">
            <div class="card-image blue-grey darken-1">
                <div class="right">
                    <div class="row">

                        <span class="new badge blue" data-badge-caption="Side Project"></span>
                        <span class="new badge amber lighten-1" data-badge-caption="Inactive"></span>
                    </div>
                    <img class="responsive-img" src="https://www.brighttalk.com/bundles/brighttalkportal/images/BrightTALK-logo.svg?v=052c2adf76a90d4d1843fdb32e04d1d3af8f6714">
                </div>
                <div class="card-content">
                    @*<p class="flow-text white-text">
                        Bright Talk Video Downloader
                    </p>*@
                    <span class="card-content activator flow-text white-text">BrightTalk Video Downloader<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-action">
                    <p><a href="#">Details</a></p>

                    
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="card col 6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/office.jpg">
                </div>
                <span class="new badge" data-badge-caption="custom caption">4</span>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
            <div class="card col 6">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/office.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/office.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>

    @*<a href="CryptoCurrencyWebScraper">Crypto Currency Web Scraper</a>
        <a href="TableauServerAPIWrapper">C# Wrapper for Tableau Server REST API</a>
        <a href="TableauServer_ADGroups">Retrieving User Info from Tableau Server</a>
        <a href="VideoDownloader">Brighttalk Video Downloader</a>
        <a href="EnvatoWebScraper">Envato Web Scraper</a>
        <a href="EmailSender"></a>
        <a href="UserAgentsScraper"></a>
        <a href="MyYoutubeStats">My Youtube Stats</a>*@

