
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crypto Currency Web Scraper</h2>
<P>
    Section Idea: Tags: (Technologies used) --
    <ul>
        <li>C#</li>
        <li>IronWebScraper</li>
        <li>Tableau Desktop</li>
        <li>Tableau JS API (Embedded into this Site)</li>
    </ul>
    <h3>Summary:</h3>
<p>
    I planned to buy and hold a few crypto-currencies.
    I had already written a scraper to scrape the all coins page, but this did not give me the historical data; which I now want.
    After writing the web scraper, I did some analysis with Tableau, then bought a few coins on Binance :)
</p>
<a href="https://github.com/Trones21/Parse-Journal">GitHub Link</a>
<h3>Tableau Analysis</h3>
<p>Embed Workbook Here</p>


