@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    I needed to get AD group users as part of a row level security solution.
    This is essentially just a C# wrapper for a few of Tableau Server's REST API endpoints, with some logic in the main method to cobble together the information that I needed.
</p>
<a href="https://github.com/Trones21/Parse-Journal">GitHub Link</a>
